<h3>update your pokemon's info here</h3>
<% if !!@messages %>
<p class="failed"><%= @messages %></p>
<% end %>

<h3><%=@pokemon.name%></h3>
<form action="/pokemon/<%=@pokemon.id%>" method="post">
  <input id=hidden type=hidden name=_method value="patch">

  <label for=name>Name: </label>
  <input id=name type=text name=name value="<%=@pokemon.name%>"><br>

  <label for=nickname>Nick Name: </label>
  <input id=nickname type=text name=nickname value="<%=@pokemon.nickname %>"><br>

  <label for=types>Type: </label>
  <input id=types types=text name=types value="<%=@pokemon.types %>"><br>

  <input type=submit value="update pokemon">
  
</form>
<br>

<a href="/pokemon/<%=@pokemon.id%>">go back</a>