<h2>Pokemon!</h2>
<p>Catch a new <a href="/pokemon/new">pokemon</a></p>
<p>View <a href='/trainers'>Trainers</a>
<ul>
  <%@pokemon.each do |p|%>
  <h3><a href="/pokemon/<%= p.id %>"><%=p.name%></a></h3>
  <li>Pokemon NickName: <%=p.nickname%></li>
  <li>Pokemon Type: <%=p.types%></li>
  <li>Pokemon Trainer: <a href="/trainers/<%=p.trainer.id%>"><%=p.trainer.trainer_name%></a></li>
 
  <%end%>
</ul>