<h2><%=@pokemon.name%></h2>


<p>Nick Name: <%=@pokemon.nickname %></p>
<p>Type: <%=@pokemon.types %></p>
<p>Trainer: <%=@pokemon.trainer.trainer_name %></p>



<%if @pokemon.trainer.id == current_user.id%>

<p>Edit this <a href="/pokemon/<%=@pokemon.id%>/edit">Pokemon</a></p>

<form action="/pokemon/<%=@pokemon.id%>" method="post">
  <input id=hidden type=hidden name=_method value="delete">
  <input type=submit value="Release this Pokemon">
</form>
<%end%>

<p>go to <a href="/pokemon">Pokemon</a> or <a href='/trainers'>Trainers</a></p>