<h2><%=@trainer.trainer_name%>'s pokemon!</h2>
<ul>
<%@trainer.pokemon.each do |p|%>
  <li>
      <h3><a href="/pokemon/<%=p.id%>"><%=p.name%></a></h3>
      <p>Pokemon NickName: <%=p.nickname%></p>
      <p>Pokemon Type: <%=p.types%></p>
  </li>
  <br>
<%end%>
</ul>

<p>view <a href=/pokemon>Pokemon </a>or <a href="/trainers">Trainers</a></p>